PORT=4000
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
LIVEKIT_API_KEY=APIxxxxxxxxxxxxxxxx
LIVEKIT_API_SECRET=your_livekit_api_secret
LIVEKIT_TOKEN_TTL_SECONDS=3600
APPLE_SHARED_SECRET=your_app_store_connect_app_specific_shared_secret
